
<br><br>
<div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        
      </div>
      <div class="col-5 card">
        <hr>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, labore eveniet tempora id odit voluptates eos, tenetur deserunt aliquam, quaerat quo iste quidem facere corporis ratione ducimus quas exercitationem sed?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non voluptate natus nobis rem eum asperiores minima numquam praesentium. Nobis quae at fuga rerum. Quidem aperiam ipsum harum tempore ab.
        <button class="btn btn-outline-secondary">Go Back</button>
      </div>
    </div>
  </div>