<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.w3schools.com/css/img_forest.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://imgv3.fotor.com/images/blog-cover-image/part-blurry-image.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sint laudantium mollitia animi iure. Cupiditate soluta quibusdam facere ipsam. Sequi recusandae voluptatum neque excepturi, facilis debitis? Molestias, labore! Natus, veniam!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quasi minima ullam, dolores rerum praesentium corporis perspiciatis libero, eaque modi quod, ea omnis reprehenderit aliquid voluptates alias debitis. Totam, unde!Lorem</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, molestiae, voluptatum a veniam esse assumenda rerum reprehenderit voluptas saepe officia commodi hic quas quidem laudantium, dolore alias. Culpa, dolorem nisi.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae ad deleniti, quis rem illo harum impedit atque in provident ratione corporis! Sapiente, modi velit. Earum molestiae illo harum nulla!Lorem
