<nav class="navbar navbar-expand-lg">
    <div class="px-2 logo-align">
        <img src="https://www.freepnglogos.com/uploads/film-reel-png/film-reel-the-movies-owens-valley-12.png"
            style="width: 9%; margin: 10px;">
        <a class="navbar-brand" style="cursor: pointer;" routerLink="/home">Movies2watch</a>
    </div>
    <div class="logo-align">
        <button color="primary" mat-button routerLink="/savedmovies"><i class="material-icons nav-icons">save</i></button>
        <h2 style="margin:0">Welcome, {{activeUser?.firstName}}</h2>
        <button color="warn" mat-button (click)="logout()"><i class="material-icons px-4 nav-icons">exit_to_app</i></button>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img [src]="item?.photo" style="height: 83vh; width: 90%;">
        </div>
        <div class="col-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5 text-center">
                        <h1><b>{{item?.name}}</b></h1>
                        <br>
                        <h3><b>Director: </b>{{item?.director}}</h3>
                        <h3><b>Release Year: </b>{{item?.year}}</h3>
                        <h3><b>Runtime: </b>{{item?.runTime}}</h3>
                        <h3><b>Categories: </b>{{item?.category}}</h3>
                        <h3><b>Rating: </b>{{item?.rating}}</h3>
                        <h3><fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset></h3>
                        
                    </div>
                    <div class="col-7"><iframe width="420" height="315" [src]="trailer! | safe"></iframe></div>
                </div>
            </div>
            <br>
            <p class="description">{{item?.description}}</p>
        </div>
    </div>
</div>
<br>